<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mt-3">New Checkpoint</h2>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="/api/checkpoint" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="checkpointType">Type</label>
                    <select class="form-control" name="checkpointType" id="checkpointType">
                        <option val="message">Message</option>
                        <option val="height">Height</option>
                        <option val="weight">Weight</option>
                        <option val="age">Age</option>
                        <option val="other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="checkpointValue">Info</label>
                    <textarea class="form-control" name="checkpointValue" id="checkpointValue"></textarea>
                </div>
                <div class="form-group">
                    <label for="imgUpload">Image</label>
                    <input type="file" class="form-control" name="imgUpload" id="imgUpload">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>